body {
  margin: 10px;
}

p {
  max-width: 50ch;
  /* text-align: left; */
  /* border: 3px solid gold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */

  /* column-count: 2;
  column-gap: 2rem;
  column-rule: 3px dotted #999; */

  /* direction: rtl; irani blyat*/
}
