html {
  font-size: 62.5%;
}

body {
  margin: 40px;
  background-color: #ddd;
  font-size: 1.6rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.card {
  max-width: 450px;
  border-radius: 30px;
  overflow: hidden;
  /* box-shadow: 0 0 4px 0.2px #0008; */
  transform: rotate(-5deg);
  transition: transform 0.25s, box-shadow 0.25s;
}

.card:hover {
  transform: rotate(0deg) scale(1.03);
  box-shadow: 0 0 10px 0px #0008;
}

.card:hover .pfp {
  transform: scale(1.1);
}

.card-top {
  padding: 20px 40px;
  background: white;
}

.card-bottom {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.pfp {
  height: 60px;
  width: 60px;
  border: 3px solid white;
  border-radius: 50%;
  margin: 0 20px 0 40px;
  transition: transform 0.5s;
}

.name {
  display: inline;

}
