body {
  margin: 10px;
  background-color: #ddd;
}

.meal {
  /* Look up clip generator */
  clip-path: polygon(0% 30%, 60% 30%, 60% 0%, 100% 50%, 60% 100%, 60% 70%, 0% 70%);
}

.meal:hover {
  /* Look up clip generator */
  clip-path: none;
  filter: grayscale(50%) blur(3px) drop-shadow(16px 16px 3px);
}
