* { /* DOES NOT APPLY TO PSEUDO ELEMENTS */
    box-sizing: border-box;
}

*, *::before, *::after { /* Now it does */
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #ddd;
}

.box::before
{
    content: 'Hello';
}

.box{
    width: 100px;
    height: 100px;
    background: goldenrod;
    display: inline-block;

    /* content box stays 100x100
    box-sizing: content-box;*/

    /* total box is 100x100
    box-sizing: border-box;*/
    /* USE UNIVERSAL SELECTOR might incur performance issues */
}