body {
  margin: 10px;
  background-color: #ddd;
}

.content {
  width: 100fr;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.grid {
  display: grid;
  grid-template-rows: repeat(9, auto);
  grid-row: 100fr;
  gap: 0.4rem;
}

.image {
  max-width: 100%;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
  }
}


@media screen and (min-width: 1024px) {
  .grid {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
    ".   big big" 
    ".   big big" 
    ".   .   .  "
    ".   .   .  ";
  }
  
  .first {
    grid-area: big;
    max-width: 100%;
    object-fit: cover;
  }
}