body {
  background-color: #ddd;
}

.header {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navbar {
  display: grid;
  grid-template-rows: repeat(5, 1.8rem);
  justify-items: center;
  align-items: center;
}

.navoptions {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {

  .header {
    display: flex;
    justify-content: right;
    padding: 2rem 0.5rem;
  }

  .navbar {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 0;
  }

  .navoptions{
    padding: 0.5rem;
  }
}
