body{
    margin: 10px;
}

/*get first p in id container
#products > p{
    color: orange;
}*/

/*get first p after id container (first sibling)*/
#products + p{
    color: orange;
}

/*get all p after id container (all sibling)
#products ~ p{
    color: orange;
}*/
