body {
  margin: 10px;
}

/*article :first-child{
    font-size: 24px;
    font-style: italic;
}*/

article p:first-of-type {
  font-size: 24px;
  font-style: italic;
}

/*article :last-of-type{
    font-weight: bold;
}*/

/* last only for p
article p:last-child{
    font-weight: bold;
}*/

/* universal last  */
article :last-child {
  font-weight: bold;
}

ul li:nth-child(odd) {
  color: deeppink;
}

a:visited,
a:link {
  color: gray;
}

a:hover,
a:focus {
  color: deeppink;
}

p::first-letter{
    font-size: 140%;
    font-weight: bold;
}

p::first-line{
    font-weight: bold;
}

::selection {
    background-color: pink;
}

p::before{
    content: "...";
    display: block;
}

p::after{
    content: "...";
    display: block;
}
